/* Estilos básicos para a aplicação */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2{
    font-size: 20px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#resposta {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

/* Classes dinâmicas para o resultado do IMC */
.abaixo-peso {
    color: #e6b800; /* Laranja/Amarelo */
}

.peso-normal {
    color: #28a745; /* Verde */
}

.sobrepeso {
    color: #bd8e01; /* Amarelo */
}

.obesidade-1 {
    color: #cc5f05; /* Laranja mais escuro */
}

.obesidade-2,
.obesidade-3 {
    color: #be1627; /* Vermelho */
}